<%= form_for @profile, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <dl>
    <dt><%= f.label :avatar %></dt>
    <dd><%= f.file_field :avatar %></dd>

    <dt><%= f.label :name %></dt>
    <dd><%= f.text_field :name %></dd>

    <dt>Gender</dt>
    <dd>
        <%= f.radio_button :gender, 'male' %>
        <%= f.label :gender_male, 'male' %>
        <%= f.radio_button :gender, 'female' %>
        <%= f.label :gender_female, 'female' %>
    </dd>

    <dt><%= f.label :birthday, 'Birthday' %></dt>
    <dd>
      <%= f.date_select :birthday,
                      :start_year => Time.now.year - 16,
                      :end_year => 1930,
                      :order => [:day, :month, :year] %>
    </dd>

    <dt><%= f.label :info, 'About me' %></dt>
    <dd><%= f.text_area :info %></dd>

    <dt><%= f.label :interest_list, 'Interests' %></dt>
    <dd>
      <%= f.text_field :interest_list %>
      <span>(separate tags with comma symbol)</span>
    </dd>
  </dl>
  <%= f.submit %>
<% end %>
