<span id="blog_owner"><%= @user.username %>'s blog</span>
<%= link_to image_tag(@user.profile.avatar.url(:medium)),
             user_profile_path(@user), :id => 'blogger_avatar' %>
<% if user_signed_in? && current_user == @user %>
  <%= link_to 'Add post', new_article_path, :id => 'add_post_link' %>
<% end %>

  <% if user_signed_in? && current_user != @user %>
    <div id="follow_unfollow_button">
      <% if current_user.bloggers.include? @user %>
        <%= button_to 'Unfollow', unfollow_user_path(@user) %>
      <% else %>
        <%= button_to 'Follow', follow_user_path(@user) %>
      <% end %>
    </div>
  <% end %>
