<span id="blog_owner"><%= @user.username %>'s blog</span>
<%= link_to image_tag(@user.profile.avatar.url(:medium)),
             profile_path(@user.profile), :id => 'blogger_avatar' %>
<% if user_signed_in? && current_user == @user %>
  <%= link_to 'Add post', new_article_path, :id => 'add_post_link' %>
<% end %>

  <% if user_signed_in? && current_user != @user %>
    <div id="follow_unfollow_button">
      <% if current_user.bloggers.include? @user %>
        <%= button_to 'Unfollow', unfollow_user_path(@user) %> 
      <% else %>
        <%= button_to 'Follow', follow_user_path(@user) %> 
      <% end %>
    </div>
  <% end %>

<% cache @cache_key do %>
<div id='articles'>
  <ul>
    <% @articles.each do |article| %>
      <li>
        <p><%= link_to article.title, user_article_path(@user, article) %></p>
        <p><%= snippet(article.content, 100, '...') %></p>
        <ul id="tag_list">
          <% article.tags.each do |item| %>
            <li>
              <%= link_to item, tagged_articles_path(:tag => CGI::escape(item.name)) %>
            </li>
          <% end %>
        </ul>
        <span>Posted <%= time_ago_in_words(article.created_at) %> ago</span>
      </li>
    <% end %>
 </ul>
<%= paginate @articles %>
</div>
<% end %>
