<div id="blog_search_form">
    <%= form_tag search_articles_path, :remote => true do %>
      <%= radio_button_tag :mode, 'content', params[:mode] != 'tags' %>
      <%= label_tag :mode_content, 'by content'  %>
      <%= radio_button_tag :mode, 'tags', params[:mode] == 'tags' %>
      <%= label_tag :mode_tags, 'by tags (separate with comma)' %>
      <%= text_field_tag :query, params[:query] %>
      <%= submit_tag 'Search' %>
      <% if user_signed_in? %>
        <div id="in_selected_blogs">
          <%= check_box_tag :selected_blogs, 'on', params[:selected_blogs] == 'on' %>
          <%= label_tag :selected_blogs, 'in selected blogs' %>
        </div>
      <% end %>
    <% end %>
</div>

<div id="tag_cloud">
  <% tag_cloud(@tag_counts, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <span>
      <%= link_to tag.name, { :action => :search_by_tag, :tag => tag.name }, :class => css_class %>
    </span>
  <% end %>
</div>

<%= render 'articles' %>
